.section-title {
  position: absolute;
  top: 0;
  width: 608px;
  display: flex;
  flex-direction: column;
}

/* 左寄せ */
.section-title--left {
  left: 0;
  align-items: flex-end;
}

/* 右寄せ */
.section-title--right {
  right: 0;
  align-items: flex-start;
}

.section-title__text {
  font-family: var(--font-heading);
  font-size: 96px;
  line-height: 1;
  color: var(--color-deep);
  letter-spacing: 0.07em;
}

.section-title__waves {
  display: block;
  width: 608px;
  height: auto;
}
