/* Footer ====== */
  .footer {
    width: 100%;
    position: relative;
  }

  .footer-wave {
    width: 100%;
    height: auto;
    display: block;
  }

  .footer-copy {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-family: var(--font-sub);
    font-size: var(--fontsize-p);
    color: var(--color-more-light);
  }

  /* ====== Footer */
