.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* wave */
.hero-wave {
  position: absolute;
  top: 80px; /* ← 前と同じ余白 */
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* MV-text */
.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.hero-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
