/* Profile ====== */
.profile {
  margin-top: 20vw;
  width: 100%;
  height: 570px;
  position: relative;
}
.profile-inner {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 200px;
}
.profile-content {
  max-width: 960px;
  max-height: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-content__image {
  /* width: 382px;
  height: 264px; */
  background-color: var(--color-more-light); /* 仮に入れておく */
  border-radius: 10px;
}
.profile-content__text {
  max-width: 384px;
  max-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: var(--font-body);
  font-size: var(--fontsize-p);
  line-height: 225%;
  letter-spacing: 0.05em;
  color: var(--color-more-deep);
}

/* ====== Profile */
